.App {
  text-align: center;
}

.search-input {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
}

.country-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countryCard {
  width: calc(100% / 7);
  margin: 10px;
  text-align: center;
}

.countryCard img {
  width: 100px;
  height: auto;
}


